/*FUENTE*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}
html {
    scroll-behavior: smooth;
}
/*ENCABEZADO*/
.logo img {
    width: 55px;
    animation: bounceInLeft;
    animation-duration: 1s;
}
.contenedor-header {
    background-color: transparent;
    backdrop-filter: blur(1px);
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99;
}
.contenedor-header header {
    max-width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}
.contenedor-header header ul {
    display: flex;
    list-style: none;
}
.contenedor-header header nav ul li a {
    text-align: center;
    color: #fff;
    margin: 0 15px;
    padding: 3px;
    text-decoration: none;
    transition: .5s;
    font-family: "Work Sans", sans-serif;
}
.contenedor-header header nav ul li a:hover {
    animation: flash;
    animation-duration: 1s;
}
.redes a {
    color: #fff;
    margin-inline: .6rem;
    text-decoration: none;
    font-size: 1.5rem;
    transition: .5s;
    margin-left: 10px;
    cursor: pointer;
}
.redes a i {
    animation: backInRight;
    animation-duration: 3s;
}
.redes a:hover{
    animation: flash;
    animation-duration: .5s;
}
.item1 {
    animation-delay: .3s;
}
.item2 {
    animation-delay: .6s;
}
.item3 {
    animation-delay: .9s;
}
.item4 {
    animation-delay: 1.2s;
}
.nav-responsive {
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    display: none;
}
/*INICIO*/
.banner_mobile {
    display: none;
}
.slider {
    position: relative;
    width: 100%;
    height: 100vh; 
    overflow: hidden; 
}
.slide {
    display: none; 
    position: absolute;
    width: 100%;
    height: 100%;
}
.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.texto {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
}
.texto h3 {
    font-size: 3rem;
    text-transform: uppercase;
    transition: 3s;
}
.texto p {
    font-size: 1.5rem;
}
.active {
    display: block;
}
/*SUCURSALES*/
#sucursales {
    background-color: #000;
    color: aliceblue;
    padding: 100px 0;
}
#sucursales h2 {
    text-align: center;
    font-size: 3rem;
    text-shadow: 1px 1px 15px #d4d4d4;
    margin-bottom: 20px;
}
.boton {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
}
.boton a {
    text-decoration: none;
    color: #d4d4d4;
}
#sucursales button {
    background-color: transparent;
    border: none;
    font-size: 2rem;
}
.fila {
    display: flex;
    justify-content: center;
}
.fila .col {
    max-width: 500px;
    border: 2px solid #fff;
    padding: 40px 30px;
    text-align: center;
    transition: .4s;
    margin: 25px;
}
.fila .col:hover {
    transform: scale(1.1);
    box-shadow: 0 0 20px rgba(255,255,255,.8);
}
.fila .col .info {
    margin-bottom: 20px;
    color: #444;
    font-size: 1.3rem;
}
.fila .col .info span {
    display: block;
    color: #d4d4d4;
    transition: .5s;
}
.fila .col a {
    color: #c11e1e;
    text-transform: uppercase;
    text-decoration: none;
    transition: .5s;
}
.fila .col a:hover {
    color: #c11e1e;
}
.fila .col .info i {
    margin-bottom: 15px;
}
/*PRODUCTOS*/
.body-productos {
    background-color: black;
}
.boton-volver a {
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #c41d1c;
    font-size: 1.2rem;
    transition: .5s;
}
.boton-volver a:hover {
    animation: flash;
    animation-duration: 1s;
}
.titulo-productos {
    margin-top: 1rem;
    margin-bottom: 2rem;
    font-size: 1.5rem;
    color: #fff;
    text-shadow: 1px 1px 15px #d4d4d4;
    text-transform: uppercase;
}
.form_input {
    margin-top: 2rem;
}
.filtar {
    color: white;
    align-items: self-start;
}
.menu-productos {
    display: flex;
    margin: 1rem;
    gap: 2rem;
}
.menu-productos li {
    list-style-type: none;
}
.boton-menu {
    background-color: transparent;
    border: none;
    color: #d4d4d4;
    text-transform: uppercase;
    cursor: pointer;
    transition: .5s;
    font-size: 1.2rem;
}
.boton-menu:hover {
    animation: flash;
    animation-duration: 1s;
}
.boton-menu.active {
    color: #A3B18A;
    text-decoration: underline;
    font-weight: 700;
}
/*CARRITO*/
/*Contenedor productos carrito*/
.titulo {
    color: #fff;
    margin-bottom: .5rem;
    text-align: center;
}
.btn-ver {
    color: #fff;
    margin-bottom: .5rem;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.5rem;
    cursor: pointer;
}
.btn-ver:hover {
    animation: flash;
    animation-duration: 1s;
}
.titulo-principal {
    font-size: 1.5rem;
    color: #d4d4d4;
    text-align: start;
    margin-top: 1.2rem;
    margin-bottom: 2.2rem;
    text-transform: uppercase;
    text-shadow: 0 0 10px white;
}
.carrito-vacio,
.carrito-total {
    color: #fff;
    margin-top: 1rem;
    text-align: center;
}
.carrito-productos {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}
.carrito-producto {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: space-between;
    background-color: transparent;
    padding: .5rem 1rem;
    border-radius: 1rem;
    color: #fff;
}
.carrito-producto-boton {
    background-color: transparent;
    color: #fff;
    border: 0;
    cursor: pointer;
    font-size: 1rem;
}
.ocultar {
    display: none;
}
.finalizar {
    border-radius: 10px;
    padding: .5rem;
    margin-top: .7rem;
    margin-bottom: 3rem;
    border: none;
    background-color: #fefeff;
    color: #212529;
    cursor: pointer;
    text-transform: uppercase;
    transition: .5s;
    border: 2px solid #fefeff;    
}
.finalizar:hover {
    background-color: transparent;
    color: #fefeff;
    font-weight: bold;
}
/*Alert*/
.swal2-popup {
    background-color: #212529;
    color: #fefeff;
}
/*Cajitas*/
.main {
    display: flex;
    flex-direction: column;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 3rem;
}
.contenedor {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
    align-items: center;
}
.img_productos {
    width: 320px;
    height: 340px;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
}
.contenedor > div {
    transition: all 0.5s;
    background-color: #212529;
    border-radius: 20px;
}
.contenedor > div:hover {
    transform: scale(1) translateY(-12px);
    box-shadow: 0 0 20px rgba(255,255,255,.8);
}

.contenedor .h2_content {
    color: #fff;
    text-align: center;
}
.contenedor .p_content {
    color: #c41d1c;
    font-size: 1.4rem;
    text-align: center;
    margin-top: 5px;
}
.contenedor .boton-carrito {
    background-color: #fefeff;
    color: #212529;
    padding: 10px 25px;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 15px;
    margin-left: 75px;
    cursor: pointer;
    transition: .6s;
    border: 2px solid #fefeff;
}
.contenedor .boton-carrito:hover {
    background-color: transparent;
    color: #fefeff;
    font-weight: bold;
}
/*CONTACTO*/
#contacto {
    background-color: black;
    padding: 70px 0 0 0;
}
#contacto h2 {
    color: #fff;
    text-align: center;
    font-size: 3rem;
    text-shadow: 1px 1px 15px #d4d4d4;
    margin-bottom: 20px;
}
.contain-contacto {
    max-width: 500px;
    margin: auto;
}
.formulario form {
    display: flex;
    flex-direction: column;
}
input, textarea {
    background-color: transparent;
    width: 100%;
    padding: 12px 0;
    margin: 10px;
    border: .5px solid #d4d4d4;
    text-align: center;
    color: #d4d4d4;
    outline: none;
    font-family: "Montserrat", sans-serif;
}
.bot {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 50px;
}
.boton {
    background-color: transparent;
    color: #d4d4d4;
    text-transform: uppercase;
    padding: 10px 20px;
    border: .5px solid #d4d4d4;
    transition: .8s;
}
.boton:hover {
    background-color: #d4d4d4;
    color: #000;
    font-weight: 600;
}
/*FOOTER*/
footer {
    background-color: #212529;
    color:#d4d4d4;
    padding: 30px 0 15px 0;
    text-align: center;
    position: relative;
    width: 100%;
}
footer .arriba {
    display: block;
    width: 50px;
    height: 50px;
    background-color: #212529;
    color: #d4d4d4;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    top: -25%;
    border-radius: 50%;
    line-height: 50px;
    font-size: 1.5rem;
} 
.redes-footer a {
    background-color: black;
    color: #d4d4d4;
    display: inline-block;
    border: 1px solid #d4d4d4;
    border-radius: 100%;
    width: 42px;
    height: 42px;
    line-height: 42px;
    font-size: 1.4rem;
    transition: .3s;
    margin-inline: 8px;
}
.redes-footer a:hover {
    background-color: #d4d4d4;
    color: black;
}
@media screen and (max-width:768px) {
    .logo img {
        width: 55px;
        animation: bounceInLeft;
        animation-duration: 1s;
    }
    nav {
        display: none;
    }
    .nav-responsive {
        display: block;
        font-size: 1.4rem;
    }
    nav.responsive{
        background-color: rgba(0,0,0, .8);
        backdrop-filter: blur(1px);
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    nav.responsive ul{
        display: block !important;
        margin: 0;
    }
    nav.responsive ul li{
        font-size: 2rem;
        padding: 40px 0;
        text-align: center;
        animation: none;
    }
    .redes {
        display: none;
    }
    .titulo-principal {
        margin-top: 1rem;
        margin-bottom: 2.2rem;
    }
    .btn-ver {
        font-size: 1.3rem;
    }
    .boton-menu {
        font-size: 1rem;
    }
    .boton-volver a {
        font-size: 1rem;
    }
}
@media screen and (max-width:480px) {
    .banner_mobile {
        display: block;
        height: 100vh;
        background-image: url(./img/slider/4.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .title_mobile {
        font-size: 2.8rem;
        color: #982a2a;
        text-shadow: .5px .5px 10px white;
        transition: 2s;
        
    }
    .texto_mobile {
        font-size: 1.2rem;
        color: #fefeff;
        font-weight: 600;
    }
    nav.responsive ul li{
        font-size: 1.5rem;
        padding: 45px 0;
        text-align: center;
        animation: none;
    }
    .slider {
        display: none;
    }
    .texto h3 {
        font-size: 2rem;
    }
    .texto p {
        font-size: 1.2rem;
    }
    #sucursales {
        padding: 80px 0;
    }
    #sucursales h2 {
        font-size: 2.3rem;
    } 
    .fila {
        display: flex;
        flex-direction: column;
    }
    .fila .col {
        margin-inline: auto;
        max-width: 500px;
    }
    #contacto {
        padding: 50px 0 0 0;
    }
    .contain-contacto {
        max-width: 370px;
        margin: auto;
    }
    #contacto h2 {
        font-size: 2.3rem;
    }
    .boton-menu {
        font-size: .8rem;
    }
    .menu-productos {
        gap: .9rem;
    }
    .carrito-producto {
        font-size: .8rem;
        color: #fff;
    }
    .carrito-producto-boton {
        font-size: .7rem;
    }
    .titulo-principal {
        margin-top: 1rem;
        margin-bottom: 2rem;
        font-size: 1.2rem;
    }
    .btn-ver {
        font-size: 1rem;
    }
    .boton-menu {
        font-size: .8rem;
        text-align: center;
    }
    .boton-volver a {
        font-size: 1rem;
    }
}
